<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update" method="post">
      <div>

          <div>
              <p>Route:- Patelnagar Siddarth </p>
            </div>
            <div>
                <p>
                    Bus Number:- MP01A1096 
                </p>
            </div>
            <div>
                <p>Updata bus Number:-</p>
                <input type="text" name="newnumber" id="" placeholder="add bus number">
                <input type="hidden" value="Patelnagar Siddarth" name="place" >
                <button type="submit">update</button>
            </div>
        </div>
    </form>
    <br>
    <p>..............................................................................................................</p>
    <form action="/update" method="post">
        <div>
  
            <div>
                <p>Route:-</p>
              </div>
              <div>
                  <p>
                      Bus Number:- 
                  </p>
              </div>
              <div>
                  <p>Updata bus Number:-</p>
                  <input type="text" name="newnumber" id="" placeholder="add bus number">
                  <input type="hidden" value="AnandNagar Ratnagiri" name="place" >
                    <button type="submit">update</button>
              </div>
          </div>
      </form>
      <p>..............................................................................................................</p>
      <form action="/update" method="post">
          <div>
    
              <div>
                  <p>Route:-</p>
                </div>
                <div>
                    <p>
                        Bus Number:- 
                    </p>
                </div>
                <div>
                    <p>Updata bus Number:-</p>
                    <input type="text" name="newnumber" id="" placeholder="add bus number">
                    <input type="hidden" value="piplani bima" name="place" >
                      <button type="submit">update</button>
                </div>
            </div>
        </form>
</body>
</html>